/* Universal Styles */

body {
    margin: 0;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
}


/* Header Styles */

header {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F3F1F1;
}


/* Nav Styles */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1.5rem;
}

nav img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

nav ul li a {
    color: #575757;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000000;
}

nav ul li a#current-page {
    color: #000000;
}

@media only screen and (max-width: 610px) {
    nav {
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
    }
    nav ul {
        margin-top: 1rem;
        padding-left: 0;
    }
}

@media only screen and (max-width: 440px) {
    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}


/* Main Styles */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    padding: 2rem;
}

main img {
    width: 250px;
    height: auto;
}

main article {
    text-align: center;
    margin-left: 10rem;
}

main article p {
    max-width: 400px;
}

#about-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#snack-background {
    background-image: url(../images/background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center
}

@media only screen and (max-width: 900px) {
    main {
        flex-direction: column;
    }
    main article {
        margin-left: 0;
    }
    #about-para p {
        margin-bottom: 0;
    }
}


/* Footer Styles */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: rgb(211, 211, 211);
    height: 100px;
}

footer p {
    margin-bottom: 0;
    margin-right: 0.5rem;
}

#footer__follow-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer__follow-us i {
    margin: 0 0.5rem;
}

#footer__follow-us p {
    margin-left: 0.5rem;
}

@media only screen and (max-width: 490px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }
    #footer__follow-us {
        margin-top: 1rem;
    }
}