/* Universal Styles */

html {
    min-height: 100%;
}

body {
    margin: 0;
}


/* Header Styles */

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F3F1F1;
}


/* Nav Styles */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1.5rem;
}

nav img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

nav ul li a {
    color: #575757;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000000;
}

nav ul li a#current-page {
    color: #000000;
}


/* Main Styles */

#snack-background {
    background-image: url(../images/background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center
}