/* Universal Styles */

body {
    margin: 0;
}

h1 {
    text-align: center;
    margin: 3rem 0;
}

h3 {
    font-size: 1.2rem;
}


/* Header Styles */

header {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F3F1F1;
}


/* Nav Styles */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1.5rem;
}

nav img {
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
}

nav ul li a {
    color: #575757;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: #000000;
}

nav ul li a#current-page {
    color: #000000;
}


/* Main Styles */

#snack-background {
    background-image: url(../images/background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center
}

.menu {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: brown;
    align-content: space-around;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.category {
    background-color: rgb(247, 244, 212);
    padding: 1rem;
}

.title-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Footer Styles */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: rgb(211, 211, 211);
    height: 100px;
}

footer p {
    margin-bottom: 0;
}

#footer__follow-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}